<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/style.css">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/admin/js/html5.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/admin/js/jquery.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <link href="__PUBLIC__/admin/Css/mypage.css" rel="stylesheet" type="text/css"/>
    <script>

        (function($){
            $(window).load(function(){

                $("a[rel='load-content']").click(function(e){
                    e.preventDefault();
                    var url=$(this).attr("href");
                    $.get(url,function(data){
                        $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
                        //scroll-to appended content
                        $(".content").mCustomScrollbar("scrollTo","h2:last");
                    });
                });

                $(".content").delegate("a[href='top']","click",function(e){
                    e.preventDefault();
                    $(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
                });

            });
        })(jQuery);
    </script>
</head>
<body>
<!--header-->
<include file="Common:head_banner" />
<section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl"><a href="{:U(artist/artist_list)}"></a>艺术家审核列表</h2>
        </div>
        <section class="mtb">
            <form action="artist_ex" method="post" enctype="multipart/form-data">
                <select class="select" name="select">
                    <option value="1">艺术家名称</option>
                    <option value="2">作品编号</option>
                    <option value="3">已征集件数</option>
                </select>
                <input type="text" name="ser" class="textbox textbox_225"/>
                <input type="submit" value="查询" class="group_btn"/>
            </form>
        </section>
        <div name="select">
            <a href="{:U('artist/artist_ex')}"><input type="button" value="未审核" class="group_btn" /></a>
            <a href="{:U('artist/artist_exone')}"><input type="button" value="已通过" class="group_btn" /></a>
            <a href="{:U('artist/artist_extwo')}"><input type="button" value="未通过" class="group_btn" style="color: orange"/></a>
        </div>
        <form name="myform" id="myform" method="post">
            <table class="table">
                <tr>
                    <th><button form="myform" onclick="return confirm('您确定要批量删除？')" formaction="del"　type="submit">批量删除</button></th>
                    <th>艺术家相片</th>
                    <th>艺术家名称 </th>
                    <th>征集件数</th>
                    <th>鉴证备案件数</th>
                    <th>Cars认证作品件数</th>
                    <th>在线认证作品件数</th>
                    <th>操作</th>
                </tr>
                <volist name="data" id="vo">
                    <tr>
                        <td class="center"><input type="checkbox" name="yid[]" value="{$vo['yid']}" /></td>
                        <td class="center"><img src="__PUBLIC__/Upload/{$vo['aphoto']}" width="50" height="50"/></td>
                        <td class="center">{$vo['yname']}</td>
                        <td class="center">{$vo['collect']}</td>
                        <td class="center">{$vo['appraisal']}</td>
                        <td class="center">{$vo['carsart']}</td>
                        <td class="center">{$vo['online']}</td>
                        <td class="center">
                            <a href="{:U('artist/artist_edit',array('yid'=>$vo['yid']))}" title="编辑" class="link_icon">&#101;</a>
                            <a href="{:U('artist/artist_ex',array('yid'=>$vo['yid']))}" title="删除" name="delete" class="link_icon" onclick="return confirm('您确定要删除？')">&#100;</a>
                        </td>
                    </tr>
                </volist>
            </table>
        </form>
        <tr class="content">
            <td colspan="3" bgcolor="#FFFFFF"><div class="pages">
                {$page}
            </div></td>
        </tr>
    </div>
</section>
</body>
</html>
