/**
 * @date:  2017.06.13
 * @name:  公共样式
 * @author heyunqiang99@163.com
**/


/* css reset
 ============================================================================ */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
button,
input,
textarea,
th,
td,
a,
form {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-style: normal;
}


/* 设置默认字体 */

body {
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    background: #fff;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: underline;
}

em,
i {
    font-style: normal;
}

ul,
ol,
dl,
li {
    list-style: none;
}

img {
    vertical-align: middle;
    border: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
}


/* css类组件
 ============================================================================ */

.cl:after,
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}

.cl,
.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

.red {
    color: #ee572c;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 布局
 ============================================================================ */

.public-container {
    width: 1200px;
    margin: 0 auto;
}


/* 顶部公共部分 logo 搜索 登录注册 导航
 ============================================================================ */

.public-header .header-topbar {
    line-height: 40px;
    width: 100%;
    height: 40px;
    color: #666;
    background: #f1f1f1;
    -webkit-box-shadow: 0 1px 5px #ccc;
    -moz-box-shadow: 0 1px 5px #ccc;
    box-shadow: 0 1px 5px #ccc;
}


/* topbar*/

.header-topbar .header-links a {
    margin-right: 25px;
    color: #666;
}

.header-topbar .header-links a:hover {
    color: #ee572c;
}

.header-menu .item {
    position: relative;
    float: left;
    width: 102px;
    text-align: center;
    border-right: 1px solid #ccc;
}

.header-menu .item-w300 {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #ccc;
}

.header-menu .item-w300 a {
    color: #666;
}

.header-menu .item-w300:hover {
    background: #fff;
}

.header-menu .item-w300:hover a {
    color: #ee572c;
}

.header-menu .item a {
    display: inline-block;
    color: #666;
}

.header-menu .item a:hover {
    color: #ee572c;
}

.header-menu .login a,
.header-menu .afterlogin a {
    margin-left: 10px;
}

.header-menu .login span,
.header-menu .afterlogin span {
    color: #ee572c;
}

.header-menu .item .nav-more {
    position: relative;
}

.header-menu .item .nav-more::before {
    position: absolute;
    top: 18px;
    left: 60px;
    width: 9px;
    height: 5px;
    content: '';
    background-image: url('../images/icon-arrow-bottom.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-menu .item .sub-nav {
    position: absolute;
    z-index: 999;
    top: 40px;
    left: 0;
    display: none;
    width: 102px;
    margin-left: -1px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.header-menu .item:hover {
    background: #fff;
}

.header-menu .item:hover .nav-more::before {
    background-position: 0 -7px;
}

.header-menu .item:hover .sub-nav {
    display: block;
    background: #fff;
}

/*top*/
.cang_top {
    width: 1200px;
    margin: auto;
    position: relative;
}

.cang_logo {
    float: left;
    width: 390px;
}

.cang_logo a {
    display: block;
    width: 242px;
    height: 105px;
    margin: 20px 0;
    text-align: center;
    text-indent: -999em;
    background: url(../images/cang_logo.png) no-repeat center center;
}

.cang_search {
    float: left;
    width: 530px;
    margin-top: 50px;
}

.search_top {
    overflow: hidden;
    width: 100%;
    height: 40px;
    border: 1px solid #ee572c;
}

.search_top input {
    line-height: 40px;
    float: left;
    width: 79%;
    text-indent: 1em;
    background: no-repeat;
}

.search_top button {
    font-family: '微软雅黑';
    font-size: 18px;
    float: right;
    width: 20%;
    height: 40px;
    cursor: pointer;
    color: #fff;
    border: none;
    background: #ee572c;
}

.search_top a {
    font-family: '微软雅黑';
    font-size: 18px;
    line-height: 40px;
    float: right;
    width: 20%;
    height: 40px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    background: #ee572c;
}

.search_bottom {
    line-height: 24px;
    overflow: hidden;
}

.search_bottom a {
    font-weight: bold;
    float: left;
    margin: 0 10px;
}

.search_bottom a:hover {
    text-decoration: underline;
    color: #d64e27;
}

.search_top button:hover {
    background: #d64e27;
}

/* 购物车*/
.dorpdown {
    position: absolute;
    top: 50px;
    right: 0;
    font-size:12px;
}
.dorpdown .dorpdown-box{
    position: relative;
}
.dorpdown .cw-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e3e4e5;
    background-color: #fff;
}
.dorpdown .icon-gouwuche {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../images/icon-gouwuche.png) no-repeat center center;
}

.dorpdown .my-gouwuche {
    color:#ee572c;
}

.dorpdown .my-gouwuche-num {
    position: absolute;
    top: 6px;
    left: 108px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: #ee572c;
}
.dorpdown .dorpdown-layer {
    position: absolute;
    display: none;
    z-index: 99;
    top: 42px;
    right: 0;
    width: 308px;
    border: 1px solid #e3e4e5;
    background-color: #fff;
    -moz-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
}
.dorpdown-layer .cart-hd {
    height: 25px;
    padding: 6px 8px;
    line-height: 25px;
}
.dorpdown-layer .cart-hd .cart-hd-title{
    font-weight:700;
}
/*鼠标放上效果*/
.dorpdown:hover .dorpdown-layer, .hover .dorpdown-layer {
    display: block;
}
.dorpdown:hover .cw-icon, .hover .cw-icon {
    padding-bottom: 2px;
    border-color: #e3e4e5;
    border-bottom: none;
    background-color: #fff;
}

.cart-bd .cart_item_bd{
    background: #fff;
    height: auto!important;
    height: 344px;
    max-height: 344px;
    overflow-y: auto;
    overflow-x: hidden;
}
.cart_item:hover {
    background: #f5f5f5;
}
.cart_item {
    line-height: 17px;
    vertical-align: bottom;
    background: #fff;
}
.cart_item_hd, .cart_item_inner {
    padding: 8px 10px;
    border-top: 1px dotted #ccc;
    overflow: hidden;
}
.cart_img {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    padding: 0;
    margin-right: 10px;
    font-size: 0;
    overflow: hidden;
}
.cart_name {
    float: left;
    width: 120px;
    height: 52px;
    overflow: hidden;
}
.cart_info {
    float: right;
    text-align: right;
    width: 85px;
}
.cart_price {
    font-weight: 700;
}
.cart_delete, .cart_price, .cart_tag {
    float: right;
    clear: both;
    max-width: 85px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cart_ft {
    padding: 8px;
    background: #f5f5f5;
    text-align: right;
    _height: 45px;
    _padding-top: 15px;
    _padding-bottom: 0;
}
.cart_ft_info {
    float: left;
    line-height: 29px;
}
.cart_num {
    font-weight: 700;
}
.cart_ft_lk {
    float: right;
    height: 26px;
    padding: 0 10px;
    background: #e4393c;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 26px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


.Not_logged .logged {
    float: left;
    width: 110px;
}

.Not_logged {
    float: left;
    width: 110px;
}

.Not_logged a {
    line-height: 40px;
    float: left;
    width: 54px;
    text-align: center;
}

.logged a {
    line-height: 40px;
    display: block;
    width: 90%;
    text-align: center;
}

.Not_logged a:hover {
    color: #ee572c;
}

.logged a:hover {
    color: #ee572c;
}


/*nav*/

.cang_nav {
    line-height: 50px;
    overflow: hidden;
    width: 100%;
    height: 50px;
    background-color: #ee572c;
}

.cang_nav ul {
    overflow: hidden;
    width: 1200px;
    margin: auto;
}

.cang_nav ul li {
    float: left;
    width: 110px;
    text-align: center;
}

.cang_nav ul li a {
    display: block;
    width: 100%;
    height: 50px;
    color: #fff;
}

.cang_nav ul li a:hover {
    background-color: #810d14;
}

.cang_nav ul li a.active {
    background-color: #810d14;
}


/*footer*/

.footer {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.footer_box {
    overflow: hidden;
    width: 1200px;
    margin: auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.footer p {
    font-size: 14px;
    line-height: 28px;
    color: #333;
}

.bottom_nav {
    line-height: 48px;
    margin-bottom: 10px;
    color: #333;
}

.bottom_nav a {
    font-size: 16px;
    color: #333;
}

.bottom_nav a:hover {
    text-decoration: underline;
    color: #ee572c;
}

.bottom_nav span {
    margin: 0 5px;
}

.yema {
    overflow: hidden;
    width: 100%;
    height: 30px;
    margin: 20px auto;
    text-align: center;
}

.yema a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #dcdcdc;
}

.yema a:hover {
    color: #fff;
    border: 1px solid #ee572c;
    background: #ee572c;
}

.yema a.active {
    color: #fff;
    border: 1px solid #ee572c;
    background: #ee572c;
}


/* 客服
 ============================================================================ */

.izl-rmenu {
    position: fixed;
    z-index: 999;
    right: 25px;
    bottom: 10px;
}

.izl-rmenu .btn {
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
    cursor: pointer;
}

.izl-rmenu .btn-qq {
    background: url(../images/r_qq.png) 0 0 no-repeat;
    background-color: #ee572c;
}

.izl-rmenu .btn-qq:hover {
    background-color: #810d14;
}

.izl-rmenu a.btn-qq {
    display: block;
    text-decoration: none;
    background: url(../images/r_qq.png) 0 0 no-repeat;
    background-color: #ee572c;
}

.izl-rmenu a.btn-qq:hover {
    background-color: #810d14;
}

.izl-rmenu .btn-wx {
    background: url(../images/r_wx.png) 0 0 no-repeat;
    background-color: #ee572c;
}

.izl-rmenu .btn-wx:hover {
    background-color: #810d14;
}

.izl-rmenu .btn-wx .pic {
    position: absolute;
    top: -41px;
    left: -130px;
    display: none;
    width: 130px;
    height: 130px;
}

.izl-rmenu .btn-phone {
    background: url(../images/r_phone.png) 0 0 no-repeat;
    background-color: #ee572c;
    -webkit-background-size: cover;
    background-size: cover;
}

.izl-rmenu .btn-phone:hover {
    background-color: #810d14;
}

.izl-rmenu .btn-phone .phone {
    font-size: 18px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: -160px;
    display: none;
    width: 160px;
    text-align: center;
    color: #fff;
    background-color: #ee572c;
}

.izl-rmenu .btn-top {
    display: none;
    background: url(../images/r_top.png) 0 0 no-repeat;
    background-color: #ee572c;
}

.izl-rmenu .btn-top:hover {
    background-color: #810d14;
}
