.explain_box{
	width: 1200px;
	margin:30px auto;
}
.explain_box h2{
	border-bottom: 1px solid #EE572C;
}
.explain_box h2 span{
	display: block;
	width: 120px;
	height: 36px;
	font-size: 18px;
	color: #FFFFFF;
	background: #EE572C;
	line-height: 36px;
	text-align: center;
}
.explain{
	padding:40px 60px ;
	border: 1px solid #DCDCDC;
	border-top: none;
}
.explain li{
	margin-bottom: 30px;
}
.explain h3{
	line-height: 36px;
	color: #333333;
	font-size: 18px;
	font-weight: bolder;
	text-align: left;
}
.explain p{
	line-height: 24px;
	color: #666666;
	text-align: justify;
}
