<div class="tiem">
    <h4>作品年代</h4>
    <div class="tiem_class">
        <a href="javascript:" class="active"  data-type = "0">全部</a>
        <a href="javascript:" data-type = "1">21世纪20年代</a>
        <a href="javascript:" data-type = "2">21世纪10年代</a>
        <a href="javascript:" data-type = "3">21世纪00年代</a>
        <a href="javascript:" data-type = "4">90年代</a>
        <a href="javascript:" data-type = "5">80年代</a>
        <a href="javascript:" data-type = "6">70年代</a>
        <a href="javascript:" data-type = "7">60年代</a>
        <a href="javascript:" data-type = "8">50年代</a>
        <a href="javascript:" data-type = "9">40年代</a>
        <a href="javascript:" data-type = "10">30年代</a>
    </div>
</div>
<div class="tiem">
    <h4>作品类别</h4>
    <div class="tiem_class">
        <a href="javascript:" class="active" data-type = "0">国画</a>
        <a href="javascript:" data-type = "1">书画</a>
        <a href="javascript:" data-type = "2">油画</a>
        <a href="javascript:" data-type = "3">素描</a>
        <a href="javascript:" data-type = "4">雕塑</a>
        <a href="javascript:" data-type = "5">版画</a>
        <a href="javascript:" data-type = "6">水彩</a>
        <a href="javascript:" data-type = "7">其他</a>
    </div>
</div>
<div class="tiem">
    <h4>作品备案时间</h4>
    <div class="tiem_class">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">起始时间：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" value="0" placeholder="开始日" id="LAY_demorange_s">
                    <span class="icon_time"></span>
                </div>
                <label class="layui-form-label">截止时间：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" value="0" placeholder="截止日" id="LAY_demorange_e">
                    <span class="icon_time"></span>
                </div>
            </div>
        </div>
    </div>
</div>