<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/style.css">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/admin/js/html5.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/admin/js/jquery.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <link href="__PUBLIC__/admin/Css/mypage.css" rel="stylesheet" type="text/css"/>
    <script>

        (function($){
            $(window).load(function(){

                $("a[rel='load-content']").click(function(e){
                    e.preventDefault();
                    var url=$(this).attr("href");
                    $.get(url,function(data){
                        $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
                        //scroll-to appended content
                        $(".content").mCustomScrollbar("scrollTo","h2:last");
                    });
                });

                $(".content").delegate("a[href='top']","click",function(e){
                    e.preventDefault();
                    $(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
                });

            });
        })(jQuery);
    </script>
</head>
<body>
<!--header-->
<include file="Common:head_banner" />
<section class="rt_wrap content mCustomScrollbar">

    <div class="page_title">
        <h2 class="fl">专场列表</h2>
        <a class="fr top_rt_btn">返回专场列表</a>
    </div>
    <div name="select">
        <a href="{:U('special/special_list')}"><input type="button" value="全部专场" class="group_btn" style="color: orange"/></a>
        <a href="{:U('special/special_listone')}"><input type="button" value="未开始专场" class="group_btn" /></a>
        <a href="{:U('special/special_listtwo')}"><input type="button" value="已结束专场" class="group_btn" /></a>
    </div>
    <div class="rt_content">
        <form name="myform" id="myform" method="post">
        <table class="table">
            <tr>
                <th><button form="myform" onclick="return confirm('您确定要批量删除？')" formaction="del"　type="submit">批量删除</button></th>
                <th>专场标题</th>
                <th>鉴证人</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>鉴证会地址</th>
                <th>操作</th>
            </tr>
            <volist name="data" id="vo">
                <tr>
                    <td class="center"><input type="checkbox" name="aid[]" value="{$vo['aid']}" /></td>
                    <td class="center">{$vo['title']}</td>
                    <td class="center">{$vo['attesters']}</td>
                    <td class="center">{$vo['starttime']}</td>
                    <td class="center">{$vo['endtime']}</td>
                    <td class="center">{$vo['address']}</td>
                    <td class="center">
                        <a href="{:U('special/special_edi',array('aid'=>$vo['aid']))}" title="编辑" class="link_icon">&#101;</a>
                        <a href="{:U('special/special_list',array('aid'=>$vo['aid']))}" title="删除" name="delete" class="link_icon" onclick="return confirm('您确定要删除？')">&#100;</a>
                    </td>
                </tr>
            </volist>
        </table>
            </form>
    </div>
    <tr class="content">
        <!--<td colspan="3" bgcolor="#FFFFFF">&nbsp;{$page}</td>-->
        <td colspan="3" bgcolor="#FFFFFF"><div class="pages">
            {$page}
        </div></td>
    </tr>
</section>
<script src="__PUBLIC__/admin/js/ueditor.config.js"></script>
<script src="__PUBLIC__/admin/js/ueditor.all.min.js"> </script>
</body>
</html>
